<h1> Sign In Page </h1>
<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>

<div id="fb-sign-in">
<%= link_to "Sign in with Facebook", 'auth/facebook' %>
</div>
